---
---

@import "{{ site.theme }}";

.page-header {
  background-image: url("/PaintRL/assets/images/paint_demo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}
.project-tagline {
  background-color: #000;
  opacity: 0.7;
}

.project-name {
  margin-top: 0;
  margin-bottom: 0.1rem; }
  @media screen and (min-width: 64em) {
    .project-name {
      font-size: 2.75rem; } }
  @media screen and (min-width: 42em) and (max-width: 64em) {
    .project-name {
      font-size: 2.25rem; } }
  @media screen and (max-width: 42em) {
    .project-name {
      font-size: 1.75rem; } }

th, td {
  border: 0;
  vertical-align: top;
  font-weight: normal;
}

.main-content table th,
.main-content table td {
  #padding: 0.5rem 1rem;
  border: 0;
  text-align: left;
  font-weight: normal;
}

.main-content img {
}

.top-link {
  font-size: 0.5em;
  font-color: gray;
}